<%# <section class="py-4">
  <div class="container">
    <h1>Share Your Pet</h1>
    <%= simple_form_for(@pet) do |f| %>
      <%# <%= f.input :name %>
      <%#= f.input :character %>
      <%#= f.input :description %>
      <%#= f.input :species %>
      <%#= f.input :price %>
      <%# <br> %>
      <%#= f.input :photo, as: :file %>
      <%# <br> %>
      <%#= f.button :submit, "Addo Petto", class: "btn btn-success my-2" %>
    <%# end %>
    <%#= link_to "Back", pets_path, class: "btn btn-gradient my-2" %>
  <%# </div> %>
<%# </section> %>

<div class="modal fade" id="newpet" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Share Your Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
    <%= simple_form_for(@pet) do |f| %>
      <%= f.input :name %>
      <%= f.input :character %>
      <%= f.input :description %>
      <%= f.input :species %>
      <%= f.input :price %>
      <br>
      <%= f.input :photo, as: :file %>
      <br>
      <%= f.button :submit, "Addo Petto", class: "btn btn-success my-2" %>

    <% end %>
      </div>
    </div>
  </div>
</div>
