<section class="py-4">
  <div class="container">
    <h1>Share Your Pet</h1>
    <%= simple_form_for(@pet) do |f| %>
      <%= f.input :name %>
      <%= f.input :character %>
      <%= f.input :description %>
      <%= f.input :species %>
      <%= f.input :price %>
      <br>
      <%= f.input :photo, as: :file %>
      <br>
      <%= f.button :submit, "Addo Petto", class: "btn btn-success my-2" %>
    <% end %>
    <%= link_to "Back", pets_path, class: "btn btn-gradient my-2" %>
  </div>
</section>
