<div class="card-trip">
  <%= cl_image_tag pet.photo.key %>
  <%= link_to '', pet_path(pet) %>
  <div class="card-trip-infos">
    <div>
      <h2><%= pet.name %></h2>
      <h2>Pet's Owner: <%= pet.user.first_name %></h2>
      <p>"<%= pet.description %>"</p>
    </div>
    <h3 class="card-trip-pricing"><%= pet.price %>円</h3>
    <img src="https://avatars.githubusercontent.com/u/59186645?v=4" class="card-trip-user avatar-bordered" />
  </div>
</div>
